@inject NavigationManager NavigationManager

<div class="text-center">
    <h1 class="text-4xl mt-16">Not Authorized</h1>
    <p class="text-lg mt-12">You are not authorized to view this page.</p>
    <p>Please <a class="font-bold" href="/login?redirect_url=@NavigationManager.Uri">Login</a> or <a class="font-bold" href="/register?redirect_url=@NavigationManager.Uri">Register</a> to continue.</p>
</div>